name: Pack & Publish LCTWorks.Core

on:
  push:
    branches:
      - release/core/*
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch or tag to build'
        required: false
        default: ''
env:
  PROJECT: LCTWorks.Core/LCTWorks.Core.csproj
  DOTNET_VERSION: "9.0.x"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.value }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Extract version from branch name
        id: version
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"
          VERSION="${BRANCH#release/core/}"
          echo "value=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT }}

      - name: Build
        run: dotnet build ${{ env.PROJECT }} -c Release --no-restore

      - name: Pack NuGet package
        run: dotnet pack ${{ env.PROJECT }} -c Release -p:Version=${{ steps.version.outputs.value }} --no-build --output ./nupkg

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

  # tag:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: write

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Create and push tag
  #       run: |
  #         TAG="Core-${{ needs.build.outputs.version }}"
  #         git tag "$TAG"
  #         git push origin "$TAG"
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download packages
        uses: actions/download-artifact@v4
        with:
          name: nupkg
          path: ./nupkg

      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION="${{ needs.build.outputs.version }}"
          TAG="Core-$VERSION"
          gh release create "$TAG" ./nupkg/* \
            --title "LCTWorks.Core $VERSION" \
            --generate-notes \
            --target ${{ github.sha }}